
    body {
        font-family: 'Open Sans', sans-serif;
        box-sizing: border-box;
    }
    .inline-icon1 {
        vertical-align: bottom;
        font-size: 28px !important;
    }
    .inline-icon2 {
        vertical-align: bottom;
        font-size: 26px !important;
    }
    .inline-icon3 {
        vertical-align:middle;
        font-size: 18px !important;
    }
    @keyframes fadeInUp {
        from {
            transform: translate3d(0,40px,0)
        }
    
        to {
            transform: translate3d(0,0,0);
            opacity: 1
        }
    }
    @-webkit-keyframes fadeInUp {
        from {
            transform: translate3d(0,40px,0)
        }
    
        to {
            transform: translate3d(0,0,0);
            opacity: 1
        }
    }
    .animated {
        animation-duration: 1s;
        animation-fill-mode: both;
        -webkit-animation-duration: 1s;
        -webkit-animation-fill-mode: both
    }
    
    .animatedFadeInUp {
        opacity: 0
    }
    
    .fadeInUp {
        opacity: 0;
        animation-name: fadeInUp;
        -webkit-animation-name: fadeInUp;
    }
    a {
        text-decoration: none;
    }

