
    * {
        font-family: 'Roboto', sans-serif;
        box-sizing: border-box;
    }
    body {
        background-color: #fffaf0;
        padding :50px;
    }
    a {
        text-decoration: none;
    }
    li {
        list-style: none;
    }

