{% extends 'base.html' %}
{% block body %}
    
    <div class="animated animatedFadeInUp fadeInUp">
        <div class="container fw-bold" style="font-size:40pt; text-align:center; margin-top:100px; color: #041E49;">
            About us.<br><br>       
        </div>
        <div class="container">
            <div class="card border-0 col-sm-8 mx-auto" style="background-color: #EEF4F9; color: #041E49;">
                <div class="card-body mx-5 my-5" style="color: #041E49;">
                    <h3 class="card-title fw-bold">Final Year Project</h3><br>
                    <h5 class="card-subtitle mb-2">Title: Predicting high risk COVID-19 patients.</h5>
                    <p class="card-text" >
                        <ul>
                            <li>Made by Anshul Hedau, Prajwal Hatwar, Shreyas Rajurkar, Juli Khobragade.</li><br>
                            <li>The objective of this project is to predict if a COVID-19 patient will have a high risk of severe COVID-19 in near future.</li><br>
                            <li>The machine learning model is based on Random Forest Classifier, which takes initial health data of the patient as input.</li><br>
                            <li>The project is a web app built using python flask and gunicorn.
                        </ul>
                    </p>
                </div>
            </div>

            <div class="card border-0 col-sm-8 mx-auto mt-5" style="background-color: #EEF4F9; color: #041E49;">
                <div class="card-body mx-5 my-5">
                    <h3 class="card-title fw-bold">How to run this app on your local machine</h3><br>
                    <p><button class="btn btn-light border-0 rounded-pill shadow-sm" style="background-color: #D5E7F5;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <span class="inline-icon2 material-icons-outlined">expand_more</span>
                    </button></p>
                    <div class="collapse" id="collapseExample">
                        <p class="card-text">
                            <b>Prerequisites:</b>
                            <ul>
                                <li>Python >=3.8.3</li>
                                <li>Git >=2.33.1.windows.1</li>
                            </ul>
                            <ol>
                                <li>
                                    <b>PROJECT SETUP</b><br>
                                    If you don’t have this project.
                                    <ul>
                                        <li>
                                            Go to the desired location where you want to save the project.<br>
                                            <div class="mark">> cd "your_desired_path"</div>
                                        </li>
                                        <li>
                                            Clone the project from the repo.<br>
                                            <div class="mark">> git clone <a href="https://www.github.com/anshulhedau10/fyp">https://www.github.com/anshulhedau10/fyp</a><br>
                                            > cd fyp/</div>
                                        </li>
                                    </ul>
                                    If you have this project already.
                                    <ul>
                                        <li>
                                            Go to the project’s location.<br>
                                            <div class="mark">> cd "your_project’s_path"</div>
                                        </li>
                                        <li>
                                            Pull the project from the repo.<br>
                                            <div class="mark">> git pull origin</div>
                                        </li>
                                    </ul>
                                </li><br>
                                <li>
                                    <b>PYTHON VIRTUAL ENVIRONMENT SETUP</b><br>
                                    <ul>
                                        <li>
                                            Create a python virtual environment.<br>
                                            <div class="mark">> python -m venv venv</div>
                                        </li>
                                        <li>
                                            Activate the virtual environment.<br>
                                            <div class="mark">> source venv/scripts/activate</div>
                                        </li>
                                    </ul>
                                </li><br>
                                <li>
                                    <b>INSTALL DEPENDENCIES</b><br>
                                    <div class="mark">> pip install -r requirements.txt</div>
                                </li><br>
                                <li>
                                    <b>RUN THE APP</b><br>
                                    Run this command to run the app.<br>
                                    <div class="mark">> python app.py</div>
                                </li>
                            </ol>      
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock body %}