{% extends 'base.html' %}

{% block body %}
    
    <div class="animated animatedFadeInUp fadeInUp">
        <div class="container fw-bold" style="font-size:40pt; text-align:center; margin-top:100px; color: #131F0D;">
            Find out COVID-19 risk prediction for patients.<br><br>       
        </div>
        <div class="container">
            <div class="card border-0 col-sm-6 mx-auto" style="background-color: #FCF9F1; color: #131F0D;">
                <div class="card-body mx-5 my-3">
                    <h3 class="card-title text-center fw-bold">Get the prediction
                    <!-- Button trigger modal -->
                    <button type="button" class="btn border-0 rounded-pill shadow-sm mx-3 my-0" style="background-color: #D9E7CB;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <span class="inline-icon2 material-icons-outlined">info</span>
                    </button></h3><br>
                    <p class="card-text">1. Upload the csv file. Click i button for csv file format.
                        <br>2. Click Upload button.
                        <br>3. Wait for a minute. Let the ML model run.
                        <br>4. Click Downlaod button<br><br>
                    </p>
                    <form action = "/" method = "POST" enctype = "multipart/form-data" id="upload" onsubmit="myFunction()">
                        <input type="file" oninvalid="alert('Please choose a csv file!');" class="form-control border-0 shadow-sm" style="color: #131F0D;" name="file" id="customFile" accept=".csv" required><br>
                        <div class="text-center mt-3">
                            <!--<input type="submit" value="Submit" onclick="myFunction()">-->
                            <button type="submit" value="Submit" id="btnFetch" class='btn btn-lg shadow-sm rounded-pill border-0 fw-bold' style="color: #002117; background-color: #AEF0D6; width: 10rem;">
                                <p class="small m-2"><span class="inline-icon2 material-icons-outlined mx-2">file_upload</span>Upload</p>
                            </button><br>
                        </div>
                    </form> 
                </div>
            </div>
            <div class="text-center mt-5">
                <img class="img-fluid" src="{{ url_for('static', filename='images/doctors.png') }}">
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog border-0" style="color: #131F0D; background-color: #EEF4F9;">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title fw-bold" id="staticBackdropLabel">Get the csv file format</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    You can download the file format from here.
                    <a href="/downloadcsv/">
                        <div class="text-center">
                            <button type="button" class="btn shadow-sm rounded-pill border-0 my-3 fw-bold" style="color: #1C1D06; background-color: #E6E4C0; width: 12rem;">
                                <p class="m-2"><span class="inline-icon2 material-icons-outlined mx-2">file_download</span>File format</p>
                            </button>
                        </div>
                    </a>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary rounded-pill shadow-sm border-0" data-bs-dismiss="modal">Got it</button>
                </div>
            </div>
        </div>
    </div>
    
{% endblock body %}